
body {
    background: white;
}

#main-header {
    align-self: baseline;
}

#Contact {
    border-top:1px solid #000000;
    margin: auto;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

h4 {
    color: black;
}
